table {
   width: 80vw;
   margin: 0 auto;
   padding: 10px;
   border: 2px solid #000000;
   border-collapse: collapse;
   text-align: center;
   padding: 10px;
}
 
thead, tbody {
   display: block;
   width: 100%;
}
 
thead tr, #immagini, #prezzi, #descrizione, #link, #form {
   display: flex;
   justify-content: space-between;
   width: 100%;
}
 
head th, tbody td {
   width: 18%;
   padding: 10px;
   box-sizing: border-box;
   text-align: center;
}
 
#titoli-tabella {
   font-size: 18px;
   font-weight: bold;
   text-align: center;
}
 
img {
    width: 200px;
  height: 250px;
  object-fit: contain;
  margin: 20px;
}
  
#prezzi {
    font-size: 28px;
    color: #00ab03;
    font-weight: bold;
}
  
a {
    text-decoration: none;
    font-weight: bold;
    color: #0819fa;
    background-color: rgb(238, 243, 243);
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
    margin: 10px auto;
}
  
form {
    text-align: left;
    font-size: 14px;
}
  
form textarea {
    width: 100%;
    resize: vertical;
}
  
h1 {
    font-size: 100px;
    color: orange;
    text-align: center;
    margin-bottom: 10px;
}
  
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
#bottoni {
    display: flex;
    margin-bottom: 50px;
}
  
#bottone-titolo {
    justify-content: center;
    align-items: center;
}
  
#bottone-colore {
    margin-left: 10px;
}
  
button {
    border-radius: 20px;
    width: 130px;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
}
th {
    background-color: #fbd203;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
